<div class="container">
  <div class="container filter-section d-flex justify-content-between align-items-center flex-wrap">
    <div class="search-filter">
      <span class="fa fa-search"></span>
      <input type="text" placeholder="Search for a country..." [(ngModel)]="searchedCountry" />
    </div>
    <div class="dropdown-region">
      <app-dropdown-region (messageEvent)="receiveSelectedRegion($event)"></app-dropdown-region>
    </div>

  </div>
  <div class=" d-flex justify-content-around align-items-start flex-wrap">
    <app-country-card *ngFor="let country of countries" [country]="country">
    </app-country-card>
  </div>
</div>
<div class="footer">
  Made with ❤ by Walid Salhi
</div>
