/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --d-element: hsl(209, 23%, 22%);
  --d-bg: hsl(207, 26%, 17%);
  --d-text: var(var(--white));

  --l-text: hsl(200, 15%, 8%);
  --l-input: hsl(0, 0%, 52%);
  --l-bg: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --l-element: var(--white);
}

* {
  margin: 0;
  padding: 0;
}
